# Converting developed model to Vetiver endpoint

In [1]:
import vetiver as vt
import pins

from rsconnect.api import RSConnectServer
import os
from dotenv import load_dotenv
load_dotenv(override=True)

True

In [2]:
rsc_server=os.getenv("CONNECT_SERVER")
rsc_key=os.getenv("CONNECT_API_KEY")
connect_server = RSConnectServer(url=rsc_server, api_key=rsc_key)

In [3]:
board = pins.board_rsconnect(server_url="https://colorado.rstudio.com/rsc",
                            allow_pickle_read=True, api_key=rsc_key)

In [4]:
X_test = board.pin_read("gagan/bike_x_test")
X_test

,hour,month,lat,lon,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
190,4,4,38.933668,-76.991016,0,0,0,0,0,1,0
191,4,4,38.933668,-76.991016,0,0,0,0,0,0,1
192,4,4,38.933668,-76.991016,0,0,0,0,1,0,0
193,4,4,38.933668,-76.991016,1,0,0,0,0,0,0
194,4,4,38.933668,-76.991016,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
12259907,3,4,38.933668,-76.991016,0,0,1,0,0,0,0
12259908,3,5,38.933668,-76.991016,0,0,0,1,0,0,0
12259909,3,5,38.933668,-76.991016,0,1,0,0,0,0,0
12259910,3,5,38.933668,-76.991016,0,0,0,0,0,1,0
12259911,3,5,38.933668,-76.991016,0,0,0,0,0,0,1

In [5]:
# here you can choose to load this model and make the
# API to debug/click around locally if you want--
# but you don't actually need to create a VetiverAPI(), 
# you can deploy right from your pinned VetiverModel()

v = vt.VetiverModel.from_pin(board, "isabel.zimmerman/iz-bike", version = "58519")
v.description

"Scikit-learn <class 'sklearn.ensemble._forest.RandomForestRegressor'> model"

In [6]:
app = vt.VetiverAPI(v)
# app.run()

In [7]:
# the first time i did this, it took about 10 mins
# the second time, it took about 15 seconds
vt.deploy_rsconnect(
    connect_server=connect_server,
    board=board,
    pin_name="isabel.zimmerman/iz-bike",
    version="58519"
)

In [9]:
# this chunk takes about 45 seconds, to make 213,723 predictions
endpoint = vt.vetiver_endpoint(url="https://colorado.rstudio.com/rsc/content/d7719db4-83e1-49b4-a924-a3348e6d98d4/predict/")

h = { 'Authorization': f'Key {rsc_key}' } # only needed if not open to public
vt.predict(endpoint = endpoint, data = X_test, headers=h)

        prediction
0         9.000276
1         9.000276
2         9.000276
3         9.000276
4         9.000276
...            ...
213718    9.000276
213719    9.000276
213720    9.000276
213721    9.000276
213722    9.000276

[213723 rows x 1 columns]